.services-section {
  padding: 10rem 0;
}

.services-section .section-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 10px;
}

.services-section .special-in {
  margin-top: 0;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 8rem;
}

.services-section .services {
  display: flex;
  gap: 3rem;
  flex: 1 0 50%;
}
.service-box {
  background-color: #292c36;
  padding: 3rem;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease all;
  position: relative;
  z-index: 2;
}

.service-box::before {
  content: "";
  position: absolute;
  background-color: #343a40;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.4s ease all;
}

/* .service-box::before {
  left: 0;
  top: 0;
}*/

.service-box::before {
  top: 0;
  left: 0;
}

.service-box:hover::before,
.service-box:hover::after {
  width: 100%;
}

.service-box .service-icon-box {
  display: flex;
  align-items: start;
  gap: 1.5rem;
}
.service-icon-box {
  margin-bottom: 3rem;
}
.service-icon-box .service-title {
  margin: 0;
  color: #fff;
  font-size: 2.4rem;
  font-weight: normal;
  max-width: 140px;
}

.service-box .service-info {
  color: #777;
  line-height: 1.8;
  font-size: 1.6rem;
}

.cv {
  text-align: center;
  margin-top: 5rem;
}
.cv-btn {
  border-radius: 1.2rem;
  padding: 10px 30px;
  background-color: #7562e0;
  border: 2px solid #7562e0;
  cursor: pointer;
  transition: 0.3s ease all;
}

.cv-btn:hover {
  background-color: #1a1a29;
}

.cv-btn a {
  text-decoration: none;
  padding: 1rem 3rem;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .service-box {
    width: 400px;
  }
}

@media (max-width: 992px) {
  .services {
    justify-content: center;
  }
}
